/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  position: relative;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

dl {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 5px;
  position: relative;
}

ul li::before {
  content: '\2022'; /* Bullet character */
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Additional Styling */
#introduction,
#why-portfolio,
#objectives,
#design,
#challenges,
#to-do {
  text-align: left;
}

/* Background Styling */
body::before,
body::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

body::before {
  left: 0;
  background-color: #c7d2fe;
}

body::after {
  right: 0;
  background-color: #c7d2fe;
}

.justify-list {
  list-style-type: none;
}

.justify-list li {
  text-align: justify;
}

.italic-bold {
  font-style: italic;
  font-weight: bold;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.tweet-container {
  text-align: center;
}
